body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #36384E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 10px;
    font-weight: 600;
}

.auth-box p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #666;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.btn {
    background-color: #E5B300;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #d4a600;
}

.switch {
    font-size: 14px;
    margin-top: 15px;
}

.switch a {
    color: #E5B300;
    text-decoration: none;
    font-weight: 500;
}
